# Stripe keys
STRIPE_PUBLIC_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345
STRIPE_WEBHOOK_SECRET=whsec_1234

# Environment variables
STATIC_DIR=../../client

# Merchant variables
SUBSCRIPTION_PLAN_IDS=stripe-example-lion,stripe-example-tiger,stripe-example-bear,stripe-example-dog,stripe-example-cat,stripe-example-hamster
COUPON_ID=STRIPE_SAMPLE_MULTI_PLAN_DISCOUNT_20OFF
