.env
.DS_Store
.vscode
server.log
build.log
server.pid

# Node files
node_modules/

# Ruby files
Gemfile.lock

# Python files
__pycache__
.virtualenv
venv

# PHP files
vendor
logs

# Java files
.settings
target/
.classpath
.factorypath
.project
